body {
    font-family: Arial, sans-serif;
    margin: 0;
	height: 100vh;
    padding: 0;;
	background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR9gyRky3FrS1zzka5yihrZm1fZpr_Px6IAVQR-c_7OEKT86Anp");
}

#animal-photos {
    text-align: center;
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin: 0px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	position: relative;
    border: 10px solid transparent;
	padding-bottom: 10px;
}


#photo-heading {
    color: white;
    margin-bottom: 10px;
    font-size: 2em;
	margin-top: 0;
}

#photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	 padding-bottom: 5px;
}

#photo-container img {
    margin: 5px;
    width: calc(33.33% - 20px); /* Three images per row with margins */
    height: auto; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

#photo-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
